@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Libre+Baskerville:ital@1&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Signika+Negative:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

:root {
    scroll-behavior: smooth;
    --accent_orange-color: #F3B969;
    --accent_brown-color: #202122;
    --page__heading-color: #fff;
    --section_heading-color: #211E1B;
    --section_subheading-darkcolor: #211E1B;
    --section_subheading-lightcolor: #F3B969;
    --section_paragraph-color: #7C7166;
    --white_text-color: #fff;
    --burger_icon-color: #fff;
    --white_card-color: #fff;
    --burger_background-color: #211E1B;
    --input_background-color: #211E1B1F;
    --cards-shadow: rgba(149, 157, 165, 0.2) 0px 3px 10px;   
}

.page_section {
    padding: 90px 20px;
}

.page__heading{
    font: normal 700 45px/70px "Libre Baskerville", serif;
    color: var(--page__heading-color);
    text-align: center;    
}

.section_heading {
    font: normal 700 38px/50px "Libre Baskerville", serif;
    color: var(--section_heading-color);
    text-align: center;
}

.section-line{
    background-color: var(--accent_orange-color);
    width: 60px;
    height: 4px;
    margin: 10px auto;
}

.page__button {
    display: block;    
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white_text-color);
    text-align: center;
    margin: auto;       
    margin-top: 50px;
    box-shadow: var(--cards-shadow);
}


@media (min-width: 768px) {
    .page__heading{
        font: 700 90px/110px "Libre Baskerville", serif;
    }

    .section_heading {
        font: normal 700 45px/58.5px "Libre Baskerville", serif;
    }
}

@media (min-width: 922px) {
    .section_heading {
        font: normal 700 52px/68px "Libre Baskerville", serif;
    }
}