.contacts {
    max-width: 1200px;
    margin: auto;
}

.contacts__container {
    display: grid;
    grid-template-columns: 1fr;
}

.contacts_form {
    padding: 39px 35px;
    background-color: var(--white_card-color);
    box-shadow: var(--cards-shadow);
}

.contacts_description {
    font: 400 18px/25.5px "Roboto", sans-serif;
    text-align: center;
    color: var(--section_paragraph-color);
    margin-top: 15px;
}

.contact-input {
    width: 100%;
    padding: 20px 50px;
    margin: 12px auto 24px;
    background-color: var(--input_background-color);
    border: none;
}

.contacts_button {
    width: 100%;
    font: 700 12px/15px "Roboto", sans-serif;
    background-color: var(--accent_orange-color);
    border: none;
    padding: 20px 50px;
}

.contacts_button:hover {
    cursor: pointer;
    color: var(--white_text-color);
    background-color: var(--accent_brown-color);
    transition: background-color 0.5s linear;
}

.contacts_information {
    margin-top: 50px;
}

.contacts-information-desktop {
    display: none;
}

.contacts__card-heading {
    font: 500 24px/31px "Roboto", sans-serif;
    color: var(--section_subheading-darkcolor);
    margin-bottom: 5px;
}

.contact-link-description {
    font: 400 17px/25.5px "Roboto", sans-serif;
    color: var(--section_paragraph-color);
    margin-bottom: 16px;
}

.contact-link {
    text-decoration: none;
    font: 400 17px/25.5px "Roboto", sans-serif;
    color: var(--section_paragraph-color);
    margin-bottom: 16px;
}

.contacts_social-links {
    margin-top: 30px;
}

.contacts_map-container {
    margin-top: 30px;
}

.contacts_map {
    width: 100%;
    height: 478px;
}

@media (min-width: 768px) {
    .contacts__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contacts_form {
        margin: 0 15px;
    }

    .contacts_information {
        margin: 0 15px;
    }

    .contacts__card-heading {
        font-size: 28px;
    }
}

@media (min-width: 1020px) {
    .contacts-information-mobile {
        display: none;
    }

    .contacts-information-desktop {
        display: flex;
    }

    .contacts__card-heading {
        padding: 8px 15px 8px 0;
    }

    .first-link {
        padding: 12px 0 8px 15px;
    }

    .second-link {
        padding: 4px 0 8px 15px;
    }

    .third-link {
        padding: 0 0 0 15px;
    }
}