.facilities {
    background-image: url(../img/facilities/section-background.webp);
    background-size: cover;
}

.facilities__container {
    max-width: 1200px;
    margin: auto;
}

.facilities__cards-gallery {
    display: grid;
    grid-template-columns: 1fr;    
}

.facilities__cards-gallery-card {
    margin-top: 45px;
    padding: 31px 27px;
    background-color: var(--white_card-color);
    border-radius: 6px;
    box-shadow: var(--cards-shadow);    
}

.facilities__card-illustration {
    border-radius: 6px;
}

.facilities__card-heading {
    font: 500 22px/31px "Roboto", sans-serif;
    color: var(--section_subheading-lightcolor);
    margin-top: 20px;
}

.facilities__card-description {
    font: 400 17px/25.5px "Roboto", sans-serif;
    color: var(--section_paragraph-color);
    margin: 20px 0;
}

.facilities__link {
    text-decoration: none;
    text-transform: uppercase;
    font: 700 12px/15px "Roboto", sans-serif;
    color: var(--accent_brown-color);
}

.facilities__link:hover {
    text-decoration: underline;
    color: var(--accent_orange-color);
    transition: color 0.3s linear;
}

.facilities_button {
    width: 225px;
    font: 700 12px/15px "Roboto", sans-serif;
    background-color: var(--accent_orange-color);
    padding: 20px 50px;
}

.facilities_button:hover {
    cursor: pointer;
    color: var(--white_text-color);
    background-color: var(--accent_brown-color);
    transition: background-color 0.5s linear;
}


@media (min-width: 768px) {
    .facilities__cards-gallery {
        grid-template-columns: 1fr 1fr;    
    }

    .facilities__cards-gallery-card {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 992px) {
    .facilities__cards-gallery {
        grid-template-columns: repeat(3, 1fr);    
    }
}